<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit price (GHS)</th>
      <th>Quantity</th>
      <th>Cum. Price (GHS)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of cart">
      <td>{{ x.title }}</td>
      <td>{{ x.price }}</td>
      <td><input type="number" #quantity="ngModel" [(ngModel)]="quantityNum" name="quantity"></td>
      <td>{{ x.price * quantity.value }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Total Amt. (GHS): {{ total }}</td>
      <td><button class="btn btn-primary" style="float: right"><a style="color: white; text-decoration:none;"
        href="https://ravesandbox.flutterwave.com/pay/2toucvr3dlg4">Make Payment</a></button></td>
    </tr>
  </tfoot>
</table>
